@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@:300;400;500;600;700;800;900&display=swap');
:root{
    --main-color: #00b2ff;
    --main-color2: #00cbfc;
    --main-color3: #00dfe1;
    --main-color4: #35eeb6;
    --main-lightgreen: #a5f78b;
    --main-lightyellow: #f9f871;
    --white: #fff;
    --light-black: #4a5764;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
p, span{
    margin: 0;
    padding: 0;
}
html, body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--light-black);
}
a, button{
    all: unset;
    cursor: pointer;
}
ul, li{
    list-style: none;
}
input{
    border: none;
    outline: none;
}

/* login page css */
.login_main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login_heading{
    margin: 0 20%;
    text-align-last: center;
    font-size: 12px;
}
.login_heading span{
    color: var(--main-color);
}
.login_form{
    width: max-content;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;   
}
.login_form .login_input-elmt{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}
.login_form .login_input-elmt input{
    width: 100%;
    padding: 8px 20px;
    border: 1px solid #35eeb663;
    border-radius: 5px;
    transition: 1s ease;
    color: var(--main-color);
    background: #35eeb61c;
}
.login_form .login_input-elmt input::-ms-reveal,
      input::-ms-clear {
        display: none;
}
.login_form .login_input-elmt input::placeholder {
    color: var(--main-color);
}
.login_form .login_input-elmt input:focus{
    border: 1px solid var(--main-color);
    background: transparent;
}
.login_form .login_input-elmt label{
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color);
}
.login_form .login_input-elmt .login_password{
    display: flex;
    align-items: center;
}
.login_form .login_input-elmt .login_password i{
    margin-left: -20px;
    cursor: pointer;
    color: var(--main-color);
}
.login_form .login_input-elmt button{
    font-size: 14px;
    background: var(--main-color3);
    text-align: center;
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
    transition: 1s ease;
}
.login_form .login_input-elmt button:hover{
    background: var(--main-color);
}

/* footer css */
footer{
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid #00dfe142;
    text-align: center;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: #00dfe10a;
}
footer span{
    color: var(--light-black);
}
footer a{
    color: var(--main-color);
}
footer a:hover{
    text-decoration: underline;
}

@media screen  and (max-width: 600px){
    .login_heading{
        margin: 0 2%;
        font-size: 8px;
    }
    .login_main{
        justify-content: start;
        margin-top: 15%;
    }
    .login_form{
        margin: 20px 2%;
        padding: 10px;
        width: 100%;
    }
    .login_form .login_input-elmt{
        width: 100%;
    }
}